
/* root */
body{
    font-family: 'Roboto', sans-serif;
    max-width: 1440px;
    top: -1169px;
    left: 370px;
    margin:0 auto;
}
/* root end */

/* logo design */
.leader {
    display: flex;
    justify-content: flex-start;
    align-items: center;
    height: 72px;
    padding-left: 60px;
}

.logo {
    text-decoration: none; 
    /* color: #2E2F42; */
    font-weight: 800;
    font-size: 18px;
}
.logo-set {
    text-decoration: none; 
    color:#F4F4FD
}
/* logo end design */

/* heading styles */
.container-primary {
    list-style: none;
    font-weight: 500;
    font-size: 16px;
    display: flex;
    justify-content: center;
    padding-left: 50px;
    color: #2E2F42;
}
ul.container-primary:hover:focus {
    color: tomato;
}
.meat { 
    padding-left: 390px;
    padding-top: 6px
}

.uno {
    display: inline-block;
    margin: 20px; 
    padding: 2px;
}
.dos {
    display: inline-block;
    margin: 20px; 
    padding: 2px;
}
.tres {
    display: inline-block;
    margin: 20px;
    padding: 2px;
}
.kwatro {
    display: inline-block;   
    margin: 15px; 
    padding: 2px;
}
.cinco {
    display: inline-block;
    margin: 15px; 
    padding: 2px;
}
/* section */

.main-hero {
    display: flex;
    justify-content: center;
    align-items: center;
    background: #2E2F42 ;
    background-image: linear-gradient(to bottom, rgba(46,47,66,0.70), rgba(46,47,66,0.70)), url(../images/people-office.jpg);
    color:#FFF;
    background-position: center;
    background-size: cover;
}
.hero-background {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    padding-top: 188px;
    padding-bottom: 292px;
}

.hero{
    color:#FFF;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-content: center;
    align-items: center;    
}
.buttons {
    background: #4D5AE5;
    color: #FFFFFF;
    cursor:pointer;
    border: none;
    padding-top: 16px;
    padding-bottom: 16px;
    padding-left: 32px;
    padding-right:32px;
    border-radius: 5px  ;
}
/* section design end*/

/* flex-container */
.flex-container {
    list-style: none;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 50px;
    top: 792px;
    gap: 8px;
}
.media-icons { 
    display: flex;
    padding-left: 150px;
    padding-right: 35px;
    flex-direction: column;
    }
.icon-main {
    font-size: 36px;
} 
.inner-footer { 
    display: flex;
    flex-direction: center;
    padding-top: 70px;
}
.final-primary { 
    margin-left: 10px;
}
.boxicons {
    background: #F4F4FD;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 4px;
    padding-top: 20px;
    padding-bottom: 20px;
}
.head {
    font-size: 20px;
    color:#2E2F42;
    line-height: 24px;
}
.head-under {
    color: #434455;
}
/* flex-container design end */

/* h2 design start */
.title-section {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
}

.squares {
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none;
    padding: 80px;
    /* margin: 0; */
}
.square-primary { 
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 22px;
    margin-bottom: 0px;
}
.square-secondary {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 22px;
    margin-bottom: 0px;
}
.square-third {
    margin-left: 12px;
    margin-right: 12px;
    margin-top: 22px;
    margin-bottom: 0px;
}
/* squares-end */
/* h2 section title design start */

.section-title {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    background-color: #F4F4FD;
    font-size: 36px;
    padding-top: 70px;
    margin-bottom: 0;
    margin-top: 0;
}
/* people design */
.people {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    list-style-type: none;
    padding: 70px 50px;
    background-color: #F4F4FD;
    margin: 0;
}
/* people design end */

/* product design start */
li.product-one {
    background-color: white;
    margin: 14px;
}
li.product-two {
    background-color: white;
    margin: 14px;
}
li.product-three {
    background-color: white;
    margin: 14px;
}
li.product-four {
   background-color: white;
   margin: 14px;
}
/* li design end */

/* img design start */
.people-first { 
   border-radius: 0px, 0px, 4px, 4px;
}
.people-second {
    border-radius: 0px, 0px, 4px, 4px;
}
.people-third {
    border-radius: 0px, 0px, 4px, 4px;
}
.people-fourth {
    border-radius: 0px, 0px, 4px, 4px;
}
/* img design end */

/* div design for h3 and p */
div.par-first {
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FFFFFF;
    }
div.par-second {
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FFFFFF;
}
div.par-third {
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FFFFFF;
}
div.par-fourth {
    text-align: center;
    border-bottom-left-radius: 4px;
    border-bottom-right-radius: 4px;
    background-color: #FFFFFF;
}

/* socialmedia design */
.socialmedia {
    padding-bottom: 10px;
}
/* socialicon design */
.socialicon {
    background-color: #4D5AE5;
    display: flex;
    align-items: center;
    justify-content: center;
    fill: #F4F4FD;
    padding: 10px;
    border-radius: 50%;
}
.socialmediaicons {
    display: flex;
    align-items: center;
    justify-content: space-around;   
    padding-bottom: 20px;
}
/* Customer Section design start */
.icon-main {
    fill: #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    padding-top: 50px;
    padding-bottom: 50px;
    margin-top: 40px;
    
}
.icons {
    fill: #8E8F99;
    display: flex;
    align-items: center;
    justify-content: center;
    list-style-type: none; 
    padding-bottom: 65px;
    padding-left: 35px;
    padding-right: 35px;
}   

.icon-team {
    border: 1px solid #8E8F99;
    margin: 10px;
    padding-left: 33px;
    padding-right: 33px;
    padding-top: 25px;
    padding-bottom: 5px;
    border-radius: 3px;
}
.down {
    fill: #8E8F99;
}
    
/* footer design start */
.final {
    background-color: #2E2F42;
    height: 312px; 
    display: flex-start;
    align-items: center;
    padding-left: 100px;
}
.logo-set {
    font-weight: 800;
    font-size: 18px;   
}
.logo-initial {
    color: #4D5AE5;
}
.final-icons {
    list-style-type: none;
    display: flex;
    align-items: center;
    padding-top: 70px;
    padding-left: 0px;
    color: #F4F4FD;
    margin: 0px;
}

.final-text {
    background-color: rgba(0,0,0,0.1);
    border-radius: 4px; 
    border-color: #FFFFFF;
    fill: #2E2F42;
    font-weight: 200px;
    font-size: 12px;
    margin-right: 20px;
    color: white;
    padding-top: 10px
}
.final-subs {
    background-color: #4D5AE5;
    padding-left: 20px;
    color: white;
    border-radius: 4px;
    padding-bottom: 8px;
    padding-right: 20px;
    border: none;   
}
.final-button {
    fill: #FFF; 
    padding-left: 7px;
    display:inline-block;
    padding-top: 10px;
}
.final-main { 
    margin-top: 20px;
}
/* footer design end */

/* footer icons design */
.media {
    padding-left: 10px
}
.media-final {
    display: flex;
    align-items: center;
}
.media-icons {
    display: flex;
    
}

.footer-icon {
    display: flex;
    background-color: #4D5AE5;
    fill: #F4F4FD;
    padding: 10px;
    border-radius: 50%;
    margin: 8px;
}
.paragraph {
    margin-top: 20px;
}
/* modal design */
.backdrop {
    width: 100%;
    height:100%;
    background-color: rgba(0,0,0,   0.4);
    position: fixed;
    top:0;
    display: flex; 
    align-items: center;
    justify-content: center;
    transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.modal { 
    width: 400px;
    height: 582px;
    background-color: white;
    border-radius: 4px;
    padding: 24px;
}
.is-hidden { 
    opacity: 0; 
    pointer-events: none;
}

.modal-close-btn {
    border-radius: 100%;
    border: 1px solid rgba(0,0,0,0.1);
    background-color: white;
    width: 30px;
    height: 30px;
    color: blue; 
    display: block;
    margin-left: auto;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
    cursor: pointer;
}
.modal-close-btn:hover {
    fill: currentColor;
    border: 1px solid currentColor;
}
/* modal design end */

/* PORTFOLIIO DESIGN */
.project-form { 
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 70px;
    margin-bottom: 40px;
}

.list { 
    width: 100%;
    display:flex;
    flex-wrap: wrap; 
    padding-left: 110px;  
}

.projects li { 
    width: 30%;
    list-style-type: none;
}
.projects li img { 
    width: 100%;
    padding: 15px;
    display: block;
}
.project-image {
    position: relative;
    overflow: hidden;
}
.project-image-caption {
    position: absolute;
    background-color: rgba(77,90,225,1); 
    color: white;
    width: 100%;
    height: 100%; 
    top: 0;
    left:0;
    opacity: 0;
    transform: translatey(100%);
    transition: cubic-bezier(0.4, 0, 0.2, 1) 250ms; 
}

.project-image-caption p {
    padding:40px 32px;
}
.project-caption {
    padding-left: 16px;
}
.fit-1 {
    background: white;
    border-radius: 3px;
    margin: 0px;
    position: relative;
    overflow: hidden;
}
.fit-1:hover .project-image-caption {
    opacity: 1;
    transform: translateY(0%);
    
}
/* projects */
.first {
    padding: 12px 24px;
    border-radius: 10%;
    border-color: whitesmoke;
    background-color: #404BBF;
    color: white;
    margin-right: 12px;
    margin-left: 12px;
    border: 1px;
    box-shadow: none;
}
.second {
    padding: 12px 24px;
    border-radius: 8%;
    border-color: #F4F4FD;
    background-color: #F4F4FD;
    color: #4D5AE5;
    margin-right: 12px;
    margin-left: 12px;
    box-shadow: none;
    font-weight: 500;
}

/* active */
.active::after {
    content: " ";
    display: block;
    height: 4px;
    width: 100%;
    border-radius: 4px;
    background-color: blue;
    position: relative;
    top: 20px;
}
.active {
    color: #2E2F42;
}
.dos-main {
    color: #2E2F42;
}
.tres-main {
    color: #2E2F42;
}
 
.kwatro-main { 
    color: #434455;
}
.cinco-main { 
    color: #434455;
}

/* service label */
.heading-1 {
    color:#2E2F42;
    font-size:16px;
    /* line-height: 24px; */
    /* border-radius: 4px; */
}

.service-label {
    display: flex;
    flex-direction: column;
    margin-bottom: 5px;
    color:#8E8F99;
    font-size: 12px;
    position: relative; 
}
.service-input {
    padding:12px 40px;
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    transition: 250ms; 
    transition-property: color, border-color, background-color;
}
.service-icon {
    position:absolute;
    top: 46%;
    fill:#404BBF;
    left:10px;
}
.text {
    border: 1px solid #4D5AE5;
    border-radius: 4px;
    
}
/* last button design 
*/
.last-button {
    display: inline-block;
    margin-left: 110px;
    align-items: center; 
    justify-content: center;
    padding-top: 14px;
    padding-bottom: 14px; 
    padding-left: 45px; 
    padding-right: 45px; 
    background-color: #4D5AE5;
    color: #FFF;
    font-size: 16px;
    border-radius: 4px;
    margin-top: 20px;
    border: none;
}
.private {
    color: blue;
    text-decoration: underline;
    font-size: 12px;
    font-weight: 400;
}
.service-1 { 
    display: inline-block;
    margin-left: 20px;
    margin-top: 2px;
}
.container {
    margin-left: auto;
    margin-right: auto;
} 
/* Mobile */
.menu-toggle {
    min-height: 40px;
    min-width: 40px;
    }
.menu-container.is-open {
    transform: translateX(0);
}
.menu-container { 
    position: fixed;
    top: 0;
    left: 0; 
    width: 100%; 
    height: 100%;
    padding-top: 80px;
    padding-bottom:40px;
    padding-right: 35px;
    background-color: white;
    box-shadow: 0px 1px 6px 0px rgba(46, 47, 66, 0.08),0px 1px 1px 0px rgba(46, 47, 66, 0.16),0px 2px 1px 0px rgba(46, 47, 66, 0.08);
    transform: translateX(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);

}
.mobile-menu {
    padding: 0;
    margin: 0;
    list-style: none;    
}
.mobile-close-btn { 
    position: absolute;
    top: 24px; 
    right: 24px;
    min-width: 10px;
    min-height: 10px;
    padding: 0;
    display: flex;
    align-items: center;
    justify-content: center;
    /* border-radius: 50%; */
    /* border: 1px solid rgba(46, 47, 66, 0); */
    /* background-color: rgba(231, 233, 252, 1); */
    transition: background-color 250ms cubic-bezier(0,4, 0, 0.2, 1), border;
}
.mobile-menu-list{ 
    list-style: none;
}
.mobile-menu-list {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    gap: 40px;
    margin-bottom: auto;
}
.mobile-menu-item{ 
    font-family: 'Roboto''san serif'; 
    font-size: 36px;
    font-weight: 700; 
    line-height: 1/11;
    letter-spacing: 0.72;
}
.mobile-menu-link { 
    color: rgba(46, 47, 66, 1);
    text-decoration: none;
    
}
.mobile-menu-link:hover,
.mobile-menu-link:focus {
    color: #404BBF;
}
.mobile-contacts-list {
    gap: 30px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    padding-top: 60px;
    margin-bottom: 40px;
    list-style: none;   
}
.mobile-contacts-link { 
    color: #2E2F42;
    font-family: 'Roboto''san serif';
    font-size: 20px;
    font-weight: 700; 
    line-height: 1/11;
    letter-spacing: 0.72;
}
.mobile-contacts-link-1 {
    font-size: 36px;
     font-weight: 700; 
    line-height: 1/11;
    letter-spacing: 0.72;
    color: #4D5AE5;
    font-family: 'Roboto''san serif';
}
.mobile-contacts-link:hover, 
.mobile-contacts-link:focus { 
    color: #404BBF; 
    transition: background-color 250ms cubic-bezier(0,4, 0, 0.2, 1), border;
    font-size: 36px;
}
.mobile-socialmedia-list { 
    display: flex;
    list-style: none;
    gap: 50px;
    justify-content: flex-start;
    width: 44px;
    height:44px;
    transition: background-color 250ms cubic-bezier(0,4, 0, 0.2, 1), border;
}
.mobile-socialmedia-link {
    display: inline-flex;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 50px;
    justify-content: center;
    background-color: #4D5AE5;
    /* transition: background-color 250ms cubic-bezier(0,4, 0, 0.2, 1), border; */
    width: 44px;
    height:44px;
    
}
.mobile-socialmedia-icon {
    fill: white
}



/* MOBILE MEDIA QUERIES */
@media (min-width: 428px) and (max-width: 767px){
    /* .container {
        width: 428px;
        padding: 0px;
    } */
    .container-primary {
        display: none;
    }
    .hero {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        font-size: 36px;
    }
    .flex-container { 
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right:auto; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .head {
        display: flex;
        align-items: center;
        justify-content: center;
        font-size: 36px;
    }
    .title-section {
        display: none;
    }
    .squares {
        display: none;
    }
    .boxicons {
        display: none;
    }
    .section-title {
        padding: 50px;
        font-size: 36px;
        margin: 0px;
    }
    .people {
        display: flex;
        flex-wrap: wrap;
        margin:0px;
        padding-top: 0px;
    }
    .icon-main { 
        font-size: 36px;
    }
    .icons { 
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right:auto; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .final {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right:auto; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
        background-color: #2E2F42;
        width: 100%;
        height: 100%;
    }
    .inner-footer { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .media-icons {
        display: flex;
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right: auto;
        flex-direction: column;
    }
    .final-primary {
        display: flex;
        justify-content: center;
    }
    .media-final {
        display: flex;
        padding:0px;
    }
    .footer-icon { 
        margin: 8px;
    }
    .logo-set { 
        display: flex;
        align-items: center;
        justify-content: center;
        padding-top: 95.5px;
        padding-bottom:20px;
    }
    .logo-initial {
        font-size: 18px;
    }
    .paragraph {
        font-size: 16px ;
    }
    .final-sub { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        padding-bottom: 96px;
    }
    .final-form {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-direction: column;
        padding-top: 2px;
        row-gap: 15px;
    }
    .final-text {
        display: flex;
        font-size: 12px;
        padding: 10px;
        margin: 0px;
    }
    .leader {
        display: flex;
        padding-left: 30px;
        padding-right: 30px;
        margin-left: auto;
        margin-right: auto;
        justify-content: space-between;
    }
    .menu-toggle {
        border: none;
        background-color: white;
        padding: 0%;
        fill: #2E2F42;
    }
    .buttons {
        background: #4D5AE5;
        color: #FFFFFF;
        cursor:pointer;
        border: none;
        padding-top: 16px;
        padding-bottom: 16px;
        padding-left: 32px;
        padding-right:32px;
        border-radius: 5px;
        position: relative;
        font-size: 16px;
    }
    .menu-toggle {
        min-height: 40px;
        min-width: 40px;
        padding: 0;
        background-color: transparent;
        outline: none;
        border: none;
    }
    .menu-container.is-open {
        transform: translate(0);
    }
    .modal { 
        width: 350px;
        height: 582px;
        background-color: white;
        border-radius: 4px;
        padding: 24px;
    }
    .service-1 { 
        display: inline-block;
        margin-left: 20px;
        margin-top: 2px;
        font-size: 12px;
    }
    .menu-toggle.mobile-close-btn {
        border-radius: 50%;
        border: 1px solid rgba(0,0,0,0.1);
        background-color: #E7E9FC;
        width: 24px;
        height: 24px;
        color: #2E2F42; 
        cursor: pointer;
        padding:0%
    }
}



/* TABLET Media Queries */
@media (min-width: 768px) and (max-width: 1157px) {
    /* .container {
        width: 768px;
    } */
    .menu-toggle {
        display: none;
    }
    .title-section {
        display: none;
    }
    .squares {
        display: none;
    }
    .about section { 
        display: flex;
        justify-content: flex-start;
    }
    .section-title {
        padding: 50px;
        font-size: 36px;
        margin: 0px;
    }
    .meat {
        display: flex;
        flex-direction: column;
        padding-left: 110px;
        padding-top: 33px;
        font-size: 12px;
        justify-items: center;
    }
    .meat-1 {
        display: flex;
        padding-left: 25px;
        padding-top: 28px;
        justify-content: space-evenly;
    }
    .kwatro {
        margin: 5px;
    }
    .cinco {
        margin: 5px;
    }
   .boxicons { 
        display: none;
   }
   .container-primary {
    display: flex;
    justify-content: space-evenly;
    margin-bottom: 0px;
   }
   .tres {
    margin-right: 0px;
    display: flex; 
    align-items: center;
    padding-bottom: 44px;
   }
   
    .leader {
    display: flex;
    justify-content: space-around;
    height: 72px;
    padding-left: 0px;
    }
    .flex-container { 
        display: flex;
        flex-wrap: wrap;    
    }  
    .box {
        flex-basis: calc(100%/2 - 30px);
    }
    .people {
        display: flex;
        flex-wrap: wrap;
        margin:0px;
        padding-top: 0px;
    }
    .icons { 
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right:auto; 
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        align-items: center;
    }
    .final {
        padding-left: 15px;
        padding-right: 15px;
        margin-left: auto;
        margin-right:auto; 
        display: flex;
        flex-wrap: wrap;
        background-color: #2E2F42;
    }
    .inner-footer { 
        display: flex;
        justify-content: center;
        align-items: center;
        flex-wrap: wrap;
        row-gap: 25px;
    }
    .media-icons { 
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .inner-footer {
        padding-top: 40px;
    }
    .final-primary { 
        display: flex;
        padding-right: 50%;
    }
    .final-sub { 
        display: flex;
        justify-content: flex-start;
        flex-direction: column;
        padding-bottom: 96px;
     }
    .final-form { 
        padding-left: 50;
    }
    .final-text { 
        margin: 0;
        padding-top: 7px;
        padding-bottom: 7px;
    }
}


/* PC media queries */
 @media (min-width:1158px) and (max-width: 2000px) {
    /* .container {
        width:1158px;
    } */
    .menu-toggle {
        display: none;
    }
    .final-text {
    background-color: rgba(0,0,0,0.1);
    /* box-shadow: inset -3px -3px rgba(0,0,0,0.5); */
    border-radius: 4px; 
    border-color: #FFFFFF;
    fill: #2E2F42;
    font-weight: 200px;
    font-size: 20;
    margin-right: 20px;
    color: white;
    padding-top: 2px;
    padding-left: 20px;
}
}